body{
    width: 100%;
    background-image: linear-gradient(#1a2a55 55%, #11499e, #1a2a55);
    height: 100vh;
}


*{
    padding: 0;
    margin: 0;
    /* border-style: dashed; */
     box-sizing: border-box;
    }

  /* @media screen and (max-width: 600px) {
  .container {
      height: 100%;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "nav"
      "ic"
      "amc"
      "f";
  }
   */
  /* step two - build your grid desktop and tablet grid*/
  /* .container {
      height: 100%;
      display: grid;
      grid-gap: 3px;
      this will be  the same for everyone
      grid-template-columns: repeat(2, 1fr);
      this will be customized, based on your grid, use pixels or %
      grid-template-rows: auto;
      use letters from step 1 to build the grid
      grid-template-areas: 
      "nav ic"
      "amc f"
      ;
  } */
  
  /* step three - build your mobile grid, what becomes active when the pixels are 800px or less */
  /* @media screen and (max-width: 800px) { */
      
    .container{
          display: grid;
          /* grid-gap: 3px; */
          /* grid is only one column, keep this way */
          grid-template-columns: 1fr;
          /* you can enter values, or auto will adjust the box sizes based on content */
          grid-template-rows: auto;
          grid-template-areas:
          "nav"
          "ic"
          "amc"
          "f";
      }
  /* } */

  .navcontainer{
      grid-area: nav;
      position: fixed;
  }
  
  .imagecontainer{
      grid-area: ic;
  }

  .aboutmecontainer {
      grid-area: amc;
  }
  
  footer{
      grid-area: f;
  }



/* NAVBARCONTAINER -------------------------------------------*/
.navcontainer{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    grid-area: nav;
    z-index: 5;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 60px;
    /* box-sizing: border-box;
    border-style: dashed;
    color: red; */
}

/* BUTTONS */
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-size: 10pt;
    color: white;
    background: linear-gradient(#11499e, #1a2a55 );
    width: 150px;
    height: 27px;
    clip-path: polygon(17% 0, 100% 0, 83% 100%, 0 100%);
}

.btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(26, 42, 85, 0%), rgba(236, 0, 140, 100%), rgba(26, 42, 85, 0%));
    left: 0;
    bottom: 0;
}

/* HOME BUTTON */
.btn-home::after{
    transform: scale(0 ,1);
    transition: transform 0.2s ease-out;
}

.btn-home:hover::after{
    transform: scale(1 ,1);
}

/* ABOUT ME BUTTON */
.btn-aboutme::after{
    transform: scale(0 ,1);
    transition: transform 0.2s ease-out;
}

.btn-aboutme:hover::after{
    transform: scale(1 ,1);
}

/* RESUME BUTTON */
.btn-resume::after{
    transform: scale(0 ,1);
    transition: transform 0.2s ease-out;
}

.btn-resume:hover::after{
    transform: scale(1 ,1);
}

/* LOGO */
.logo{
    position: fixed;
    right: 60px;
    top: 25px;
    width: 100px;
}



/* IMAGE CONTAINER -------------------------------------------*/
.imagecontainer{
    display: grid;
    grid-area: ic;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ".a b c d."
    ;
    max-width: 90vw;
    grid-gap: 65px;
    /* box-sizing: border-box;
    border-style: dashed;
    color: red; */
    margin-top: 200px;
    margin-bottom: 300px;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagecontainer img{
    width: 300px;
}



/* ABOBUT ME CONTAINER -----------------------------------------*/
.aboutmecontainer{
    display: grid;
    grid-gap: 305px;
    grid-template-columns: 850px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b "
    ;
    max-width: 100vw;
    grid-area: amc;
    margin-bottom: 150px;
    /* box-sizing: border-box;
    border-style: dashed;
    border-color: red; */
}

.textbody{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: white;
    letter-spacing: 1px;
    /* background-color: rgba(255, 255, 255, 70%); */
    padding: 5px 10px 5px 60px;
}

.aboutmecontainer img{
    width: 300px;
}

.buttoncontainer{
    grid-area: amc;
}



/* FOOTER */

/* ICON CONTAINER ---------------------------------------------*/
.iconcontainer{
    display: grid;
    position: fixed;
    bottom: -80px;
    padding-left: 40vw;
    grid-gap: 70px;
    grid-template-columns: 50px 50px 50px; 
    grid-template-rows: 10px;
    grid-template-areas: 
    "a" "b" "c";
    /* box-sizing: border-box;
    border-style: dashed;
    color: red; */
}